.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.form {
  background-color: #305399;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.form-bg{
  border-radius: 12px;
  background-color: seagreen;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-text{
  padding:10px;
}
.form-text>input{
  border-radius: 7px;
}
.btn{
  border-radius: 10px;

}
.btn:hover{
  background-color: yellow;
}

.para-box{
  background-color: rgb(61, 202, 202);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 15px;
  padding: 5px;
}
.para-style{
padding:5px;
color: rgb(240, 11, 11);
font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

